<div ng-show="!isModelLoaded()" class="container">
	<div class="jumbotron">
		<h2>Welcome to <span class="brand">DivaDiaWT</span>, the TEI assisted encoding tool for transcripting documents.</h2>
		<div ng-show="!isModelLoaded()">
			<blockquote>
				<p>There is no TEI file loaded yet! Click on
					<a href="#" ng-click="newModel()">new TEI Document.</a>
					for creating a new one.
					</p>
				<p>
					Or try our demos <button class="btn btn-link" ng-click="loadJSONModel(demo1_url)">Demo 1</button>
					<button class="btn btn-link" ng-click="loadJSONModel(demo2_url)">Demo 2</button>
				</p>

			</blockquote>
		</div>	
		<p><a class="btn btn-primary btn-lg" role="button" href="http://tei-c.org" target="_blank">
			More info about TEI
			</a></p>
	</div>
</div>
