body {
	padding-top:60px;
}

.transcription {

	background-color: #EEF;
	border: 1px;
}

.areaSelected {
	background-color: #FEE;
}

.line-text {
	background-color: #EFE
}

.lineSelected {
	background-color: #EEF;
}

.brand {
	font-variant: small-caps
}
#transcriptions {
	background-color: #ABA;

}

#page-info {
	/*background-color: #18E;*/

}

#canvas {
	background-color: #99B;
	width: 100%;

	height:70%;
}

.cdbl-slider {
    width: 100%;
    margin: 10px;
		float:right;
}
