
<div class="container">
<h2> Tei File description</h2>
    <a href = "#" class = "btn">Page View</a>
    <div>
        <label for = "title">Title</label>
        <input id = "title" type="text" class="form-control" ng-model="teiInfo.title">
        <label for = "publicationInformation">Publication Information</label>
        <input id = "publication" type = "text" class="form-control" ng-model = "teiInfo.publicationInformation">
        <label for="sourceDesc">Source Desc</label>
        <input type="text" id="sourceDesc" class="form-control" ng-model="teiInfo.sourceDesc">
    </div>

</div>
