
<div class="container">
<h2> Tei File description</h2>
    <a href = "#" class = "btn">Page View</a>
    <div>
        <label for = "title">Title</label>
        <input id = "title" type="text" class="form-control" ng-model="teiInfo.title" ng-change="update()">
        <label for = "publicationInformation">Publication Information</label>
        <input id = "publication" type = "text" class="form-control" ng-model = "teiInfo.publicationInformation" ng-class="update">
        <label for="sourceDesc">Source Desc</label>
        <input type="text" id="sourceDesc" class="form-control" ng-model="teiInfo.sourceDesc" ng-class="update()">
    </div>

    <hr>
    <h2> XML Header View</h2>
    <div>
        <textarea rows="10" cols="50">
            {{teiHeader}}
        </textarea>
    </div>

</div>
