<div ng-controller= "TranscriptionController" class = "displayArea" ng-show="isModelLoaded()">

	<div class="row container">

		<div class= "col-md-6" id="page-info">

			<h4>Current Page Information:</h4>
			<div ng-show="isModelLoaded()">

				<div ng-show="!havePages()">
					<blockquote>
						<p>There is no pages on the TEI fighter file yet! Click on 
							<a href="#" ng-click="newModel()" data-toggle="modal" data-target="#newPageModal" >new page</a>
							and add your first page.
						</p>
					</blockquote>
				</div>	
				<div ng-show="havePages()">
					<label for = "title">Title</label>
					<input type="text" ng-model="pageInfo.title"><br>
					<label for = "idSurfaces">Id Surface:</label>
					<input type="text" ng-model="pageInfo.idSurface">
					<span>Width: {{pageInfo.width}}. </span><span>Height: {{pageInfo.height}}.</span>


				</div>
			</div>

		</div>
		<div class = "col-md-6">
			<p>This page contains: {{listAreas.length}} areas.Page {{pageNumber}} out of {{numPages()}}</p>
			<h4>Arrange Transcription:</h4>
			<div class = "btn-group">
				<div class = "btn btn-default" ng-click='setArrange("LIST")' ng-class = '{ active: checkArrange("LIST") }'>List</div>
				<div class = "btn btn-default" ng-click='setArrange("LAYOUT")' ng-class = '{ active: checkArrange("LAYOUT") }' >Layout</div>

			</div>
		<!--	<div class="btn btn-danger" ng-click="createTestSample()">
				<span class = "glyphicon glyphicon-screenshot"></span>
				Generate Test Model!
			</div>
			<div class="btn btn-warning" ng-click="testXML()">
				Test!
			</div>-->


		</div>
		<!-- Button trigger modal -->

	</div>

	<div class="row" >
		<div id="canvas-container" class="col-md-6" id="view-side">
			<div id="canvas-tools-panel" class="row" width="100%">

				<div class="col-md-10">
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-click="centerZoomIn();">Zoom in</button>
						<button type="button" class="btn btn-default" ng-click="centerZoomOut();">Zoom out</button>
						<button type="button" class="btn btn-default" ng-click="selectOffsetController();">Move view</button>
						<button type="button" class="btn btn-default" ng-click="selectRectanglesController();" >Create areas</button>
						<button type="button" class="btn btn-default" ng-click="selectLinesController();" >Create lines</button>
						<button type="button" class="btn btn-warning" ng-click="autoDetectLines()" ng-show="areaSelected" >Auto Lines</button>

					</div>
					</div>
					<div class="col-md-2">
					Opacity: {{drawingOptions.opacity}} <div width="20px" slider config="sliderConfig" model="drawingOptions.opacity" class="cdbl-slider"></div>

				</div>
			</div>
			<canvas id="canvas"></canvas>

		</div>

		<div class="col-md-6" id="transcription-side">
			<div class = "area-info" id="area-info">
				<label>Id:</label><input type="text"  ng-model="areaSelected.id"><br>
				ulx: {{areaSelected.left | number:0}} uly: {{areaSelected.top | number:0}} lrx: {{areaSelected.right | number:0}} lry: {{areaSelected.bottom| number:0}}
			</div>
			<div id="transcriptions" ng-style="transcriptionsStyle()">
				<div ng-repeat='area in listAreas'>
					<div class = 'transcription'
							 ng-class = '{areaSelected: isAreaSelected(area)}'
							 ng-click = 'selectArea(area)'
							 ng-style="styleArea(area)">

						<label>{{area.id}}</label>

						<div ng-show="area.hasLines()">
							<div ng-repeat = "line in area.lines">
								<div ng-show="isAreaSelected(area)">
									<input class="line-text" type="text"
												 ng-model="line.transcription"
												 ng-focus="selectLine(area,line)"
												 ng-click="preventParent($event)"
												 ng-class='{lineSelected: isLineSelected(line)}'>
								</div>
								<div ng-hide="isAreaSelected(area)">
									<p>{{line.transcription}}</p>
								</div>
							</div>
						</div>


						<div ng-hide="area.hasLines()">
							<div ng-show="isAreaSelected(area)">
								<input type="text" ng-model="area.transcription">
							</div>
							<div ng-hide="isAreaSelected(area)">
								<p>{{area.transcription}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="tei_pagination">
		<ul class = "pagination">
			<li ng-repeat='page in listOfPages' ng-class = '{active: isActivePage($index)}'>
				<a ng-href="#/?page={{$index}}" >{{$index + 1}}</a>
			</li>
		</ul>

	</div>
	<!-- <img id="image" ng-src="{{testUrl}}" style="visibility: hidden;" width="10px" height="10px"/> -->
	<img id="image" ng-src="{{currentUrl}}" width="10px" height="10px" imageonload />



</div>
