<div ng-controller= "TeifighterController" class = "container" >
<h1> This the main overview of the application</h1>

<div class="row">
	<div id="canvas-container" class="col-md-6" style="background-color:red;">
		<div id="canvas-tools-panel" style="background-color: black" width="100%">
			
			<div class="btn-group">
			  <button type="button" class="btn btn-default" ng-click="centerZoomIn();">Zoom in</button>
			  <button type="button" class="btn btn-default" ng-click="centerZoomOut();">Zoom out</button>
			  <button type="button" class="btn btn-default" ng-click="selectOffsetController();">Move view</button>
			  <button type="button" class="btn btn-default" ng-click="selectRectanglesController();">Create areas</button>
			</div>
		</div>
		<canvas id="canvas" style="background-color: blue" width="555" height="555"> </canvas>
	</div>
	<div class="col-md-6" style="background-color:green">
		Hi right
	</div>
</div>


<!-- <img id="image" ng-src="{{testUrl}}" style="visibility: hidden;" width="10px" height="10px"/> -->
<img id="image" ng-src="{{testUrl}}" width="10px" height="10px" imageonload />


</div>
