<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">TEI-Fighter</a>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li>
				<div>
				<a ng-href="#" class="btn navbar-btn btn-success"
									ng-click="newModel()"
									>
				<span class="glyphicon glyphicon-file"
							></span>
				New</a>
				</div>
			</li>
		</ul>

		<ul class="nav navbar-nav" ng-show="isModelLoaded()">
			<li><label class="navbar-text">Title</label></li>
			<li>
				<input type="text" class="form-control navbar-form" ng-model="teiInfo.title"></li>
			<li><div>
				<a href="#header" type="button"
					 class="btn navbar-btn btn-warning" >

					<span class="glyphicon glyphicon-barcode"></span>
					XML Viewer</a>

				</div>
			</li>
			<li>
				<div>
					<a ng-href="{{data.canvasUrl}}" type="button"
						 class="btn navbar-btn btn-warning" >

						<span class="glyphicon glyphicon-barcode"></span>
						Canvas Viewer</a>

				</div>
			</li>

			<li>
				<button class = "btn btn-primary navbar-btn" data-toggle="modal" data-target="#exportModal" ng-click="exportModel()">
					<span class="glyphicon glyphicon-export"></span>
					Export XML
				</button>
				<!--<div>
				<a download="{{xmlName}}.xml" class = "btn navbar-btn btn-info" ng-href="{{ xmlUrl }}">

				<span class="glyphicon glyphicon-export"></span>
				Export TEI-File

				</a>
				</div>-->
			</li>
			<li>
				<button class = "btn btn-primary navbar-btn" data-toggle="modal" data-target="#newPageModal">
					<span class = "glyphicon glyphicon-plus"></span>
					Add new page.
				</button>
			</li>
		</ul>

	</div>

</div>
